<head>
    <meta charset "UTF=8">
    <meta name="viewpoint" content="width=device-width, intial-scaler=1.8">
    <title>MY HEALTH | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    
</head>