<nav>
    <div class="site-title">
        <a href="/"><h1>MY HEALTH</h1></a>
        <p>Online Consultant site</p>
    </div>
    <ul>
        <li><a href="/"></a></li>
        <li><a href="/doctor"> View Doctors</a></li>
        <li><a href="/Patient">Patient login </a></li>
        <li><a href="/createdr">Create page(Doctor) </a></li>
        <li><a href="/createpatient">Create page(patient) </a></li>
        <li><a href="/Reports">Report's REST API </a></li>
        <li><a href="/fetchreports">Fetchreports </a></li>
        <li><a href="/About-us">About-us </a></li>
       
        
    </ul>
</nav>