<html lan = "en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="About us content">
            <h2>MY HEALTH</h2>
            <p>Online consulant with experianced Doctors</p>
            <p>contact number : ndvkjnjds</p>
            <p>email:myhealthco@gmail.com</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>