<html lan = "en">
    <%- include('./partials/head.ejs') %>
    <body>
    
        <%- include('./partials/nav.ejs') %>

        <div class="Doctor's information content">
            <h2>Find Doctors</h2>
            <p>Dr.Sravani- Cardiologist</p>
            <p>Dr.Devi- Dermotologist</p>
            <p>Dr.Arohi- Gynacologist</p>
            <p>Dr.Surya-Psycologist</p>
            <p>Dr.Abhimanyu-Physiologist</p>

        </div>

        <%- include('./partials/footer.ejs') %>
            
    </body>
</html>