<html lan = "en">
    <%- include('./partials/head.ejs') %>
    <body>
    
        <%- include('./partials/nav.ejs') %>
        
        <div class="MY HEALTH content">
            <h2>Find Doctors</h2>
           
        </div>

        <%- include('./partials/footer.ejs') %>
            
    </body>
</html>