<html lan = "en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="Paitent Information content">
            <h2>Paitent Name: Preetham</h2>
            <p>Sex:Male</p>
            <p>Age:29</p>
            <p>contact number : ndvkjnjds</p>
            
        </div>
        <%- include('./partials/footer.ejs') %>
            
    </body>
</html>