<html lan = "en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="Todays Reports content">
            <h2> Paitent Name : Preetham </h2>
            <P> sex:  male</p>
            <P>Age: 28 </P>
            <p>Date:26-12-2023</p>
            <p>BP:Normal</p>
            <p>ViralFever:Normal</p>

           </div>
           <%- include('./partials/footer.ejs') %>
</body>
</html>